.status-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 3px;
  background-color: white;
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  top: 0;
}

.status-bar:last-child {
  padding-right: 15px;
}

.status-bar__column {
  display: flex;
  align-items: center;
  width: 33%;
}

.status-bar__column:nth-child(2) {
  justify-content: center;
}

.status-bar__column:nth-child(3) {
  justify-content: flex-end;
}

.status-bar__column span {
  font-size: smaller;
}

.status-bar__column:nth-child(3) span {
  padding-right: 3px;
}

.fa-wifi,
.fa-battery-full,
.fa-bolt {
  padding-left: 3px;
}

.fa-lock {
  padding-right: 7px;
}
